
.login-form{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color:#fff;
background-color: black;
border-radius: 10px;
padding: 10px;
}

.login-form label{
font-size: 20px;
margin: 15px 0;
 }

.login-form input{
    font-size: 16px;
    width: 90%;
    padding: 15px 10px;
    margin: 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button{
    font-size: 16px;
    width: 50%;
    padding: 15px 10px;
    margin: 30px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
#register-link{
    text-decoration: none;
    font-size: 16px;
    background-color: black;
    margin: 80px;
    color:white;
}
.register-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    }
    .register-form label{
    font-size: 20px;
    margin: 15px 0;
     }
    
    .register-form input{
        font-size: 16px;
        width: 90%;
        padding: 15px 10px;
        margin: 10px;
        border: 0;
        outline: none;
        border-radius: 5px;
    }
    
    .register-form button{
        font-size: 16px;
        width: 50%;
        padding: 15px 10px;
        margin: 30px;
        border: 0;
        outline: none;
        border-radius: 5px;
    }
    
    #register-link{
        text-decoration: none;
        font-size: 16px;
        background-color: black;
        margin: 80px;
        color:white;
    }

    #validationDiv{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:rgb(246, 2, 2);           
        border-radius: 10px;
        padding: 10px;
        font-weight: bolder;
        font-size: 30px;
        display: none;
        }
        